/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #1b1b1b;
$headingColor: #31dab2;

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #31dab2;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-dark-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

img {
  &.logo-codibly {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
  }

  &.logo-hen {
    position: absolute;
    left: 30px;
    bottom: 0;
    height: 50px;
    transition: left 400ms ease;
    transform: scaleX(-1);
  }
}

a {
  text-decoration: underline;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

body {
  background: url("../../assets/bgr.png") right -35% bottom -5% / 50% no-repeat;
}

.reveal {
  pre {
    width: 100%;
  }

  section {
    img {
      border: 0;
    }

    code {
      &.-no-max {
        max-height: none;
      }
    }

    .social {
      font-size: 18px;

      a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;

        &:last-of-type {
          margin-right: 0;
        }

        img {
          height: 22px;
          margin: 0;
          box-shadow: none;
        }
      }
    }
  }
  p {
    &.no-margin {
      margin: 0 !important;
    }

    &.small {
      font-size: 20px;
      margin: 10px 0;
    }

    &.medium {
      font-size: 30px;
    }
  }

  span {
    &.highlight {
      display: inline-block;
      padding: .2em .4em;
      margin: 3px 0;
      font-size: 85%;
      background-color: rgba(27,31,35,.05);
      border-radius: 3px;
    }
  }
}

.flex {
  display: flex !important;
  flex-flow: column;
}

.centered-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
