doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title reveal.js
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/reveal.css')
    link(rel='stylesheet', href='css/theme/codibly.css')
    // Theme used for syntax highlighting of code
    link(rel='stylesheet', href='lib/css/monokai.css')
    // Printing and PDF exports
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      img.logo-hen(src='./assets/logo-hen.png', alt='')
      img.logo-codibly(src='./assets/logo-codibly.png', alt='')
      .slides
        block content

    script(src='js/reveal.js')
    script.
      // More info about config & dependencies:
      // - https://github.com/hakimel/reveal.js#configuration
      // - https://github.com/hakimel/reveal.js#dependencies
      Reveal.initialize({
        slideNumber: true,
        progress: false,
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true }
        ]
      });

      const hen = document.querySelector('.logo-hen');
      Reveal.addEventListener('slidechanged', function (event) {
        // setTimeout(function() {
          let progress = Math.round(Reveal.getProgress() * 100);
          let left = 0;
          if(progress === 0) {
             left = `50px`;
          } else if (progress === 100) {
            left = `calc(100% - 87px)`;
          } else {
            left = `${progress}%`;
          }
          hen.style.left = left;
        // }, 500)
      });
